.movie_filter_box{
    width: 10vw;
    height: auto;
    margin-left: 1vw;
    margin-top: 1vw;
}

.movie-list-of-poster{
    width: 10vw;
    height: 30vh;
}

.movielistcontent{
    font-family: sans-serif;
    font-size: 0.9rem;
}

td.break{
    float: left;
    line-height: 22px;
   
}